.panel-input-form {
  &__row {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 12px;
  }

  &__submit {
    text-align: right;
  }

  .panel-input-checkboxes {
    margin-top: 32px;
  }
}
