* {
  box-sizing: border-box;
}

.main-wrapper {
  display: flex;
}

.body-wrapper {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
}

.panel {
  width: 320px;
  border: 1px solid orange;
}
